@model Remedios
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
}
<div class="busca">
    
    <h1 class="display-4">Posso Beber??? </h1>    

    <form method="post" asp-controller="Remedios" asp-action="Buscar"> 
                        
        @ViewBag.mensagem
                
        <div class="row">
            <div class='col-12 col-md-10 inputBox'>
                <input class="input" asp-for="Nome" required placeholder="Nome do medicamento">
            </div>
            <div class='col-12 col-md-2 botao'>
                <input class="btn btn-primary" type="submit" value="Buscar">
            </div>
        </div>
    </form>
</div>