@model Remedios
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Posso Beber???</h1>

    <form method="post" asp-controller="Remedios" asp-action="Buscar">

        <p>            
        <input asp-for="Nome" required placeholder="Medicamento:">
        </p>    
        <p>
        <input class="btn btn-primary" type="submit" value="Buscar">        
        </p>
    </form>

    <img src="/img/ok.png" alt="ok">
    <img src="/img/not.png" alt="ok">

    <p>
        @ViewBag.mensagem
    </p>

</div>